[submodule "personal_expenses_manager"]
	path = personal_expenses_manager
	url = https://github.com/Ryss-D/personal_expenses_manager
[submodule "quiz_app"]
	path = quiz_app
	url = https://github.com/Ryss-D/quiz_app
[submodule "meals_app"]
	path = meals_app
	url = git@github.com:Ryss-D/meals_app.git
[submodule "shop_app"]
	path = shop_app
	url = git@github.com:Ryss-D/shop_app.git
[submodule "places_app"]
	path = places_app
	url = git@github.com:Ryss-D/places_app.git
