[submodule "personal_expenses_manager"]
	path = personal_expenses_manager
	url = https://github.com/Ryss-D/personal_expenses_manager
[submodule "quiz_app"]
	path = quiz_app
	url = https://github.com/Ryss-D/quiz_app
[submodule "meals_app"]
	path = meals_app
	url = git@github.com:Ryss-D/meals_app.git
[submodule "shop_app"]
	path = shop_app
	url = git@github.com:Ryss-D/shop_app.git
[submodule "places_app"]
	path = places_app
	url = git@github.com:Ryss-D/places_app.git
[submodule "chat_app"]
	path = chat_app
	url = git@github.com:Ryss-D/chat_app.git
[submodule "flutter_native_comunication"]
	path = flutter_native_comunication
	url = git@github.com:Ryss-D/flutter_native_comunication.git
[submodule "posts_reader"]
	path = posts_reader
	url = git@github.com:Ryss-D/posts_reader.git
[submodule "hive_app"]
	path = hive_app
	url = git@github.com:Ryss-D/hive_app.git
[submodule "panic_button"]
	path = panic_button
	url = git@github.com:Ryss-D/panic_button.git
[submodule "rick_and_morty_poc"]
	path = rick_and_morty_poc
	url = git@github.com:Ryss-D/rick_and_morty_poc.git
[submodule "book_club_app"]
	path = book_club_app
	url = git@github.com:Ryss-D/book_club_app.git
